body {
  background-color: #610B0B;
}
.header {
  background-color: #3287dc;
  display: grid;
  grid-template-rows: 120px 150px;
  grid-template-columns: 1fr 1fr;
  grid-gap: 15px;
}
#login button {
  border-radius: 5px;
  background-color: #f8f8f8;
  margin: 2px solid black;
}

#logo {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  justify-self: start;
  align-self: center;
  padding-top: 20px;
  border-radius: 50%;
}

#menu {
  padding-right: 20px;
  grid-column: 2 /3;
  grid-row: 1 / span 1;
  justify-self: end;
  align-self: center;
}

#login {
  grid-column: 2 / -1;
  grid-row: 2 / -1;
  justify-self: flex;
  align-self: center;
}
input , textarea {
  border  : none;
  padding : 10px;
  margin  : 6px;
  width   : 200px;
  background: white;
  font-size: 16px;
  border-bottom: 1px solid black;
}
.contenedor {
  /* display: flex;
  justify-content: flex-end; */
}

nav a {
  text-decoration: none;
}
.registro input {
  font-family: Pacifico;
}
.campos {
  width: 800px;
  height: 500px;
  background-image: url(../img/hoja.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  border: solid red;
  border-radius: 10px;
  padding: 40px;
  position: absolute;
  right: 0px;
  top: 350px;
  display: grid;
  grid-template-columns: 370px 1fr;
  grid-template-rows: 30px repeat(5, 80px);
  align-items: center;
}

.name {
  display: table-caption;
  grid-column: 2 / -1;
  grid-row: 2 / 3;
  /* position: relative;
  left: 380px;
  top: 48px; */
  padding: 5px;
}
.showname {
  display: table-caption;
  grid-column: 2 / 3;
  grid-row: 3 / 4;
  padding: 5px;
}
.email {
  display: table-caption;
  grid-column: 2 / 3;
  grid-row: 4 / 5;
  padding: 5px;
}
.tipo_persona {
  position: relative;
  grid-column: 2 / 3;
  grid-row: 5 / 6;
  padding: 5px;
}
.sdat {
  position: relative;
  grid-column: 2 / 3;
  grid-row: 6 / 7;
  padding: 5px;
}
